# Simple Setup
version: 2
jobs:
    build:
      docker:
        - image: srcml/ubuntu_x86_64_base
      steps:
        - checkout
        - run: cd ci &&
            mkdir build &&
            cd build &&
            cmake -D BUILD_UNIT_TESTS=On ../my_stl &&
            ctest
