# Simple Setup
version: 2
jobs:
    build:
      docker:
        - image: srcml/ubuntu:21.10
      steps:
        - run: apt update
        - run: apt install -y git ssh cmake g++
        - checkout
        - run: mkdir build
        - run: cd build && cmake ..
        - run: cd build && make ..
        - run: cd build && ctest
