# Simple Setup
version: 2
jobs:
    build:
      docker:
        - image: srcml/ubuntu:21.10
      steps:
        - run: yes | apt update
        - run: apt install git ssh
        - checkout
        - run: cd ci/my_stl
        - run: mkdir build
        - run: cd build
        - run: cmake ..
        - run: ctest
